<footer class="footer">
  <small>
    <a href="http://www.github.com/alnahian/shop">বাংলায় অনলাইনে বিক্রয়</a>
    &copy আল নাহিয়ান | মাহবুব আলম মাসুদ
  </small>
  <nav>
    <ul>
      <li><%= link_to "আমাদের বিষয়ে জানতে |",   '#' %></li>
      <li><%= link_to " আমাদের সাথে যোগাযোগ |", '#' %></li>
      <li><a href="http://www.github.com/alnahian/shop">সাম্প্রতিক খবর</a></li>
    </ul>
  </nav>
</footer>
