
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "ক্রয় বিক্রয়", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "মূল পাতা",    '#' %></li>
              <li><%= link_to "সাহায্য",    '#' %></li>
              <li><%= link_to "সাইন ইন", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>